
.secondary{
  background-color: #08AE9E;
  padding: 15px 40px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #08AE9E;
  margin: 13px 0;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
}

.primary{
  background-color:transparent;
  padding: 15px 30px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #fff;
  margin: 13px 15px;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
}